<%= form_for(beer) do |f| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.label :style %>
  <%= f.text_field :style %>
  <br />

  <%= f.label :abw %>
  <%= f.text_field :abw %>
  <br />

  <%= f.label :empty %>
  <%= f.select :empty, ['true', 'false'], {}, class: 'browser-default' %>
  <br />

  <div class="actions">
    <%= f.submit nil, class: 'btn' %>
  </div>
<% end %>
